
.navbar{
    background-color: #333;
    margin: -10px;
    overflow: hidden;
    position: relative;
}
.container{
    width: 100%;
}
.brand{
    margin-left: 35px;
    padding: 10px;
    float: left;
    margin-top: 10px;
    width: 16%;
    height: 100%;
}
.brand a{
    text-decoration: none;
    font-size: 35px;
    color: rgb(4, 124, 14);
}
.link .left{
    float: left;
    list-style-type: none;
}
.link .right{
    float: right;
    list-style-type: none;
}
li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;

}
.navbar li{
    float: left;
    padding: 14px 10px;
}
li a:hover,li a:focus,li a:active {
    color: rgb(240, 116, 15);
}
.button{
    text-decoration: none;
    background-color: rgb(226, 104, 5);
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
}
.signup{
    display: flex;
    background-color: rgb(195, 241, 226);
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.btn{
    
    background-color: rgb(243, 142, 9);
    color: white;
    padding: 7px 13px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 40%;
    font-size: 17px;
}
.btn:hover{
    background-color: rgb(32, 124, 32);
}