<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
    
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="brand">
                <a href="/home">Infinity Exams</a>
            </div>
            <div class="link">
                <ul class="left">
                    <li><a href="/java">java Exams</a></li>
                    <li><a href="/python">Python Exams</a></li>
                    <li><a href="/aptitude">Aptitude Exams</a></li>
                </ul>
                <ul class="right">
                    
                    {% if user.is_authenticated %}
                        <p class="left" style="color: rgb(238, 114, 13); margin: -7px 20px 0px 0px;">Welcome {{request.user}}</p>
                        <li><a href="/accounts/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/accounts/login">Login</a></li>
                    {% endif %}
                    <li><a href="/signup">SignUp</a></li>

                </ul>
            </div>
        </div> 
    </nav>

    {% block content %}

    {% endblock %}
    
</body>
</html>