<!DOCTYPE html>

{% extends 'testApp/base.html' %}

    {% block content %}

    <h1 style="text-align: center; margin-top: 40px;">Welcome to Infinity Exam Center</h1>
    <h2 >Rules : </h2>
    <ul >
        <li>Rule-1 : you have to attend ony one exam per day</li>
        <li>Rule-1 : in Exam hall only pen and pencil is allowed </li>
        <li>Rule-1 : you can use black or blue ball point pain</li>
        <li>Rule-1 : you can't leave exam hall during exam hours</li>
        <li>Rule-1 : wrong answer have -ve marking </li>
    </ul>

    {% endblock %}