<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Student Information</title>
</head>
<body>
    <div class="container" align='center'>
        <h1>Upcoming Movies Information</h1><hr>
    {% if movie_list %}
        <table>
            <thead>
                <th>Date</th>
                <th>Movie Name</th>
                <th>Actor</th>
                <th>Actress</th>
                <th>Rating</th>
            </thead>
            {% for m in movie_list %}
                <tr>
                    <td>{{m.rdate}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.actor}}</td>
                    <td>{{m.actress}}</td>
                    <td>{{m.rating}}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Movies Records Not Found</p>
    {% endif %}
    </div>
</body>
</html>