:root {
  /* work on refactoring */
  --body-bg-color: #ebeced;
  --body-font-family: "Lato", Arial, sans-serif;
  --search-border: 1px solid #ebeced;
  --story-avatar-border: 1px solid #ebeced;
  --post-border: 1px solid #ebeced;
  --card-border: 5px solid #ebeced;
}
body {
  background-color: #fafafa;
}

.card {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 0px 0px;
}

.card-header {
  margin: 10px;
}

.card-header .username {
  margin-left: 10px;
}

.card-content {
  padding: 12px 24px !important;
}

.card-reveal.card-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.notification-message {
  padding: 0 115px 0 0;
}

.card-reveal-icons {
  color: white;
  text-align: center;
}

.explore-container {
  padding: 0px !important;
}

.user-image-container {
  padding-right: 0px !important;
  padding-bottom: 10.5px !important;
}

.explore-card,
.card-user-image {
  margin: 0px;
}

.card-user-image {
  border: none;
}

.card-user-image img {
  border-radius: 0px !important;
}

.dropdown-content {
  min-width: 80%;
  top: 64px !important;
}

.secondary-content {
  color: white !important;
}

.card-header .profile {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.profile-img-container {
  width: 20%;
}

.profile-username-container {
  width: 80%;
}

.profile-username-container .btn {
  width: 100%;
}

.card-user-stats {
  padding: 0rem 2rem;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card-user-stats p {
  padding: 0 30px;
}

.card-user-buttons {
  padding: 0.5rem 2rem;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-around;
}

.card-user {
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
}

.profile-row {
  margin-bottom: 0px;
}

.modal .picture-content {
  padding: 0px;
}

.modal .picture-content .card {
  margin: 0px;
}

.modal.picture-modal {
  max-height: 100%;
  max-height: 100%;
}

.card-timestamp {
  padding-bottom: 50px !important;
}

/* comment */
.modal {
  min-height: 100vh;
  width: 100%;
}

.modal-content {
  padding: 0px !important;
}

.message-container {
  border-bottom: var(--post-border);
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.message-container img {
  height: 30px;
  width: 40px;
  margin-right: 15px;
}

.message {
  padding: 0px 30px;
  width: 100%;
  word-wrap: break-word;
}
.message p {
  margin: 0px;
}
.message .user {
  margin: 0px;
  padding: 0.25rem 0;
}

.message .comment {
  margin: 0px;
  padding: 0.25rem 0;
}

.modal .comment-footer {
  position: absolute;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
  height: 100px;
}

#comment-modal li {
  padding: 0 0.25rem;
}
#comment-modal input {
  border: none;
}

/* creating posts */
.post-row {
  background-color: #fff;
  border-top: var(--card-border);
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  margin: 0px;
}

.post-btn-container {
  border: none;
  text-align: center;
}

.post-modal-btn-text {
  margin: 0px;
}

.photo-icon {
  text-align: center;
}

.photo-icon p {
  margin: 11px;
}
.search input{
  color: #fffafa;

}